<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Aura needs your location to show weather and recommend nearby activities.</string>
	<key>UIAppFonts</key>
	<array>
		<string>InstrumentSans-Bold.ttf</string>
		<string>InstrumentSans-Medium.ttf</string>
		<string>InstrumentSans-Regular.ttf</string>
		<string>InstrumentSans-SemiBold.ttf</string>
		<string>InstrumentSerif-Regular.ttf</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>TRIPADVISOR_API_KEY</key>
	<string>$(TRIPADVISOR_API_KEY)</string>
</dict>
</plist>
